body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  .center-heading {
    text-align: center;
    margin-top: 50px;
  }

  h1 {
    margin-bottom: 20px;
    position: relative;
    animation-name: heading;
    animation-fill-mode: forwards;
    animation-duration: 3s;
  }

  @keyframes heading {
    0% {
      transform: translateX(-300px);
    }
    100% {
      transform: translateX(1px);
    }
  }

  form {
    margin: 0 auto;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  textarea,
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgba(9, 128, 225, 0.467);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: rgba(9, 128, 225, 0.8);
  }

  #detailsContainer {
    margin-top: 30px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center; /* Center align the blog details */
  }

  #detailsContainer h1 {
    font-size: 32px; /* Increase the font size of the heading */
    margin-bottom: 10px;
  }

  #detailsContainer h2 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
  }

  #detailsContainer p {
    margin-bottom: 15px;
    text-align: left;
  }

  #detailsContainer img{
    max-width: 50%;
    width: 100%;
    height: auto;
    margin-bottom: 10px;}
  #detailsContainer video {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  #videoPreview {
    max-width: 100%;
    overflow: hidden;
  }

  #videoPreview video {
    width: 100%;
    height: auto;
  }
